<div class="m-timeline-1 m-timeline-1--fixed">
  <div class="m-timeline-1__items">
    <div class="m-timeline-1__marker"></div>

    <!-- FIRST -->
    <div class="m-timeline-1__item m-timeline-1__item--right">
      <div class="m-timeline-1__item-circle"><div class="m--bg-warning"></div></div>
      <span class="m-timeline-1__item-time m--font-brand">{{ action?.process?.dateOpened | date }}</span>
      <div class="m-timeline-1__item-content">
        <div class="m-timeline-1__item-title">
          {{ action?.template?.title }} ({{ action?.process?.title }})
        </div>
        <hr class="no-margin" />
        <div class="m-timeline-1__item-body">
          <p><strong>Requested by</strong>{{ action?.process?.user?.name }}</p>
          <p><strong>Description</strong> {{ action?.process?.description }}</p>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let act of action?.process?.actions">
      <ng-container
        *ngIf="
          act.status == actionStatusEnum.assigned ||
          act.status == actionStatusEnum.completed_or_approved ||
          act.status == actionStatusEnum.rejected
        "
      >
        <ng-container *ngIf="getStep(act) as s">
          <div class="m-timeline-1__item m-timeline-1__item--right">
            <div class="m-timeline-1__item-circle"><div class="m--bg-metal"></div></div>
            <span class="m-timeline-1__item-time m--font-brand">{{ act.dateOpened | date }}</span>
            <div class="m-timeline-1__item-content">
              <div class="m-timeline-1__item-title">{{ s.title }}</div>
              <hr class="no-margin" />
              <div class="m-timeline-1__item-body">
                <p><strong>Assigned to</strong>{{ act.user.name }}</p>
              </div>
            </div>
          </div>

          <div
            class="m-timeline-1__item m-timeline-1__item--right"
            *ngIf="
              act.status == actionStatusEnum.completed_or_approved || act.status == actionStatusEnum.rejected
            "
          >
            <div class="m-timeline-1__item-circle"><div class="m--bg-info"></div></div>
            <span class="m-timeline-1__item-time m--font-brand">{{ act.dateClosed | date }}</span>
            <div class="m-timeline-1__item-content">
              <div class="m-timeline-1__item-title">{{ s.title }}</div>
              <hr class="no-margin" />
              <div class="m-timeline-1__item-body">
                <p><strong>Done by</strong> {{ act.user.name }}</p>
                <p>
                  <strong>Comment</strong> {{ act.comment }}
                  <span
                    class="m-badge m-badge--success m-badge--wide"
                    *ngIf="
                      act.status == actionStatusEnum.completed_or_approved && s.type == taskTypeEnum.Task
                    "
                    >Completed</span
                  >
                  <span
                    class="m-badge m-badge--success m-badge--wide"
                    *ngIf="
                      act.status == actionStatusEnum.completed_or_approved && s.type == taskTypeEnum.Approval
                    "
                    >Approved</span
                  >
                  <span
                    class="m-badge m-badge--danger m-badge--wide"
                    *ngIf="act.status == actionStatusEnum.rejected"
                    >Rejected</span
                  >
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- END -->
    <div
      class="m-timeline-1__item m-timeline-1__item--right"
      *ngIf="
        action.process?.status == processStatusEnum.completed_or_approved ||
        action.process?.status == processStatusEnum.rejected
      "
    >
      <div class="m-timeline-1__item-circle"><div class="m--bg-warning"></div></div>
      <span class="m-timeline-1__item-time m--font-brand">{{ action?.process?.dateClosed | date }}</span>
      <div class="m-timeline-1__item-content">
        <div class="m-timeline-1__item-title">
          {{ action?.template?.title }} ({{ action?.process?.title }})
        </div>
        <hr class="no-margin" />
        <div class="m-timeline-1__item-body">
          <p><strong>Process completed by</strong>{{ action?.process?.user?.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
