<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <!-- <h3 class="m-subheader__title m-subheader__title--separator">Process</h3> -->
    </div>
    <div>
      <a [routerLink]="['/process/new']" class="btn btn-accent m-btn m-btn--icon m-btn--pill">
        <span>
          <i class="la la-plus"></i>
          <span>Start Process</span>
        </span>
      </a>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-12">
      <!--begin:: Widgets/User Progress -->
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Processes
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
              role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tabActive" role="tab">
                  Active
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tabCompleted" role="tab">
                  Completed
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="tabActive">
              <div class="m-widget4 m-widget4--progress" *ngIf="pendingProcesses?.length > 0; else noPendingProcess">
                <div class="m-widget4__item" *ngFor="let process of pendingProcesses">
                  <div class="m-widget4__img m-widget4__img--pic">
                    <i class="fa fa-lg fa-list-alt m--font-primary"></i>
                  </div>
                  <div class="m-widget4__info user">
                    <span class="m-widget4__title">
                      {{process.user?.name}}
                    </span>
                  </div>

                  <div class="m-widget4__info">
                    <span class="m-widget4__title">
                      {{process.template?.title}} ({{process.title}})
                    </span>
                  </div>

                  <div class="m-widget4__progress">
                    <div class="">
                      <span class="m-widget17__progress-number">{{getProgress(process)}}</span>
                      <div class="progress m-progress--sm">
                        <div class="progress-bar m--bg-info" role="progressbar" [style.width]="getProgress(process)"></div>
                      </div>
                    </div>
                  </div>

                  <div class="m-widget4__ext">
                    <span class="m-widget4__title">
                      {{process.date_opened | date}}
                    </span><br>
                  </div>

                  <div class="m-widget4__ext">
                    <a class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary" (click)="onProcessSelect(process)">Details</a>
                  </div>
                </div>
              </div>
              <ng-template #noPendingActions>
                <p>You don't have any processes in progress</p>
              </ng-template>

            </div>
            <div class="tab-pane" id="tabCompleted">
              <div class="m-widget4 m-widget4--progress">
                <div class="m-widget4 m-widget4--progress" *ngIf="completedProcesses?.length > 0; else noCompletedProcess">
                  <div class="m-widget4__item" *ngFor="let process of completedProcesses">
                    <div class="m-widget4__img m-widget4__img--pic">
                      <i class="fa fa-lg fa-list-alt m--font-primary"></i>
                    </div>
                    <div class="m-widget4__info user">
                      <span class="m-widget4__title">
                        {{process.user?.name}}
                      </span>
                    </div>

                    <div class="m-widget4__info">
                      <span class="m-widget4__title">
                        {{process.template?.title}} ({{process.title}})
                      </span>
                    </div>

                    <div class="m-widget4__progress">
                      <div class="">
                        <span class="m-widget17__progress-number">{{getProgress(process)}}</span>
                        <div class="progress m-progress--sm">
                          <div class="progress-bar m--bg-info" role="progressbar" [style.width]="getProgress(process)"></div>
                        </div>
                      </div>
                    </div>

                    <div class="m-widget4__ext">
                      <span class="m-widget4__title">
                        {{process.date_opened | date}}
                      </span><br>
                    </div>

                    <div class="m-widget4__ext">
                      <a class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary" (click)="onProcessSelect(process)">Details</a>
                    </div>
                  </div>
                </div>
                <ng-template #noCompletedProcess>
                  <p>You don't have any completed processes</p>
                </ng-template>

              </div>
            </div>
            <ng-template #noCompletedActions>You don't have any completed actions.</ng-template>
          </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/User Progress -->
  </div>


<!--


<a [routerLink]="['/process/new']" class="btn btn-primary">Start new process</a>

<h3>Active Processes</h3>
<div *ngIf="pendingProcesses?.length > 0; else noPendingProcess">
  <div class="list-group">
    <div *ngFor="let process of pendingProcesses">
      <a class="list-group-item pointer" (click)="onProcessSelect(process)">
        <h4 class="list-group-item-heading">{{process.template?.title}} - {{process.title}}</h4>
        <p class="list-group-item-text">Started on: {{process.date_opened}}</p>
        <p class="list-group-item-text">{{process.actions?.length}} tasks</p>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="getProgress(process)"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #noPendingProcess>
  <p>You don't have any processes in progress</p>
</ng-template>

<h3>Completed Processes</h3>
<div *ngIf="completedProcesses?.length > 0; else noCompletedProcess">
  <div class="list-group">
    <div *ngFor="let process of completedProcesses">
      <a class="list-group-item pointer" (click)="onProcessSelect(process)">
        <h4 class="list-group-item-heading">{{process.template?.title}} - {{process.title}}</h4>
        <p class="list-group-item-text">Started on: {{process.date_opened}}</p>
        <p class="list-group-item-text">Ended on: {{process.date_closed}}</p>
        <p class="list-group-item-text">{{process.actions?.length}} tasks</p>
        <span class="label label-success" *ngIf="process.status == 2">Completed</span>
        <span class="label label-danger" *ngIf="process.status == 3">Rejected</span>
      </a>
    </div>
  </div>
</div>
<ng-template #noCompletedProcess>
</ng-template> -->
