<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step #{{step.order}}</h3>
    <!-- {{isEdit ? 'Edit Step' : 'Add Step' }} -->
  </div>
  <div class="panel-body">
    <form [formGroup]="stepForm" #formRef="ngForm">

      <div class="form-group">
        <label for="title">Title*</label>
        <input class="form-control" id="title" name="title" formControlName="title" placeholder="Title" required>
      </div>

      <div class="form-group">
        <label style="margin-right: 10px;">Type*</label>

        <label class="radio-inline">
          <input type="radio" name="type" formControlName="type" value=1 checked required>Task
        </label>
        <label class="radio-inline">
          <input type="radio" name="type" formControlName="type" value=2 required>Approval
        </label>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" formControlName="description" placeholder="Description"
          rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="email">Assigned To*</label>
        <select class="form-control" name="user" id="user" formControlName="user" required>
          <option [ngValue]="user" *ngFor="let user of users">{{user.name}}</option>
        </select>
      </div>

      <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
        <strong>Error!</strong> Unable to login. please try again.
      </div> -->

      <!-- <div class="form-group">
        <button [disabled]="f.invalid" type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default" (click)="onCancel(f)">Clear</button>
  </div> -->

    </form>
  </div>
</div>

{{ formRef.value | json }}
