<div class="panel panel-default" *ngIf="(template$ | async) as template">
  <div class="panel-heading">
    <h3 class="panel-title">{{ template.title }}</h3>
    <!-- {{isEdit ? 'Edit Step' : 'Add Step' }} -->
  </div>
  <div class="panel-body">
    <form [class.invalidform]="submitted" #f="ngForm" (ngSubmit)="addProcess(f, template.id)">
      <div class="form-group">
        <label for="title">Title*</label>
        <input
          class="form-control"
          id="title"
          name="title"
          [(ngModel)]="process.title"
          placeholder="Title"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="process.description"
          placeholder="Description"
        ></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default" [routerLink]="['/process']">Cancel</button>
      </div>
    </form>
  </div>
</div>
