<div class="row" *ngIf="templateForm.get('sections'); else noForm">
  <div class="col-md-12">
    <div id="templateForm" [formGroup]="templateForm" #formRef="ngForm" class="m-form">
      <div
        id="sortableContainer"
        [sortablejs]="templateForm.get('sections').controls"
        [sortablejsOptions]="sortableOptions"
      >
        <div formArrayName="sections" *ngFor="let section of templateForm.get('sections').controls; let i = index">
          <div [formGroupName]="i">
            <div class="m-portlet m-portlet--bordered m-portlet--rounded m-portlet--unair ">
              <div class="m-portlet__head move m--bg-metal">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      <div class="form-group m-form__group row">
                        <div class="col-1"><i class="la la-sort"></i></div>
                        <label for="sectionLabel" class="col-2 col-form-label">Section*</label>
                        <div class="col-8">
                          <input
                            type="text"
                            id="sectionLabel"
                            formControlName="label"
                            class="form-control m-input "
                            placeholder="Section Name"
                            required
                          />
                        </div>
                        <div class="col-1">
                          <button class="btn btn-danger btn-sm" type="button" (click)="deleteSection(i)">X</button>
                        </div>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="">
                  <div [sortablejs]="section.get('fields').controls" [sortablejsOptions]="sortableOptions">
                    <div formArrayName="fields" *ngFor="let field of section.get('fields').controls; let j = index">
                      <div class="row field-container move">
                        <div class="col-md-10">
                          <div class="form-inline" [formGroupName]="j">
                            <i class="la la-sort"></i>
                            <div class="form-group">
                              <label for="fieldLabel">Field Name*</label>
                              <input
                                type="text"
                                formControlName="label"
                                class="form-control"
                                id="fieldLabel"
                                name="label"
                                placeholder="Field Name"
                                required
                              />
                            </div>
                            <div class="form-group">
                              <label for="fieldType">Type*</label>
                              <select id="fieldType" formControlName="type" class="form-control" required>
                                <option [ngValue]="'text'">Text</option>
                                <option [ngValue]="'text'">Date</option>
                                <option [ngValue]="'text'">List</option>
                                <option [ngValue]="'text'">Yes/No</option>
                                <option [ngValue]="'text'">User</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2 right">
                          <button
                            class="btn btn-danger btn-sm"
                            type="button"
                            *ngIf="section.controls.fields.length > 1"
                            (click)="deleteField(section.controls.fields, j)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="button" (click)="onAddControl(section.controls.fields)">
                    Add Control
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><button class="btn btn-primary" type="button" (click)="onAddSection()">Add Section</button></div>
</div>

<ng-template #noForm>
  <div class="jumbotron center m--bg-metal">
    <h3>Template Form</h3>
    <p>Allows specific data to be passed between tasks</p>
    <button type="button" class="btn btn-primary" (click)="onAddForm()">Create Form</button>
  </div>
</ng-template>
