<div class="container">

  <div class="row">
    <div class="col-md-12">
      <ul>
        <li> <a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
        <li> <a [routerLink]="['/templates']" routerLinkActive="active">Templates</a></li>
        <li> <a [routerLink]="['/templates/create']" routerLinkActive="active">Create Template</a></li>
        <li> <a [routerLink]="['/process']" routerLinkActive="active">Process</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
