<div class="panel panel-default">

  <div class="panel-body">

    <div *ngFor="let section of templateForm.sections">
      <label>{{section.label}}</label>
      <ul class="list-group">
        <div>
          <li class="list-group-item" *ngFor="let field of section.fields">
            <div class="form-inline">
              <div class="form-group">

                <input type="text" class="form-control" id="fieldLabel" name="label" [value]="field.label" disabled="disabled"
                  placeholder="Unnamed Field">

                <div class="form-group">
                  <select class="form-control" class="form-control" id="visibility" name="visibility" [value]="field.visibility"
                    (change)="onVisibilityChange($event.target.value, field.field_ui_id)">
                    <option value=1>Hidden</option>
                    <option value=2>Read-only</option>
                    <option value=3>Editable</option>
                    <option value=4>Required</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>

  </div>
</div>
