<div *ngIf="(notifications$ | async) as notifications; else: noData">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Notification</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let notification of (notifications | paginate: { itemsPerPage: 10, currentPage: p })"
        [class.info]="notification.isNew"
      >
        <td>{{ notification.text }}</td>
        <td>{{ notification.addedOn | amCalendar }}</td>
        <td>
          <button
            *ngIf="notification.isNew"
            class="btn btn-sm m-btn--pill btn-primary"
            (click)="onMarkRead(notification)"
          >
            Mark as read
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</div>

<ng-template #noData>
  <div class="jumbotron"><p>You do not have any notifications.</p></div>
</ng-template>
