<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto"></div>
    <div>
      <a [routerLink]="['/memo/new']" class="btn btn-accent m-btn m-btn--icon m-btn--pill">
        <span> <i class="la la-plus"></i> <span>Create Memo</span> </span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="m-portlet m-portlet--full-height ">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">Tasks</h3></div>
        </div>
        <div class="m-portlet__head-tools">
          <ul
            class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
            role="tablist"
          >
            <li class="nav-item m-tabs__item">
              <a
                class="nav-link m-tabs__link active"
                data-toggle="tab"
                href="#tabActive"
                role="tab"
                (click)="getTasks(Mode.Active)"
              >
                Active
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a
                class="nav-link m-tabs__link"
                data-toggle="tab"
                href="#tabCompleted"
                role="tab"
                (click)="getTasks(Mode.Inactive)"
              >
                Completed
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a
                class="nav-link m-tabs__link"
                data-toggle="tab"
                href="#tabMine"
                role="tab"
                (click)="getTasks(Mode.Mine)"
              >
                My Memos
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="tab-content">
          <div class="tab-pane active" id="tabActive">
            <ng-container *ngIf="tasks && tasks.length; else: noActiveMemos">
              <ng-container *ngTemplateOutlet="activeMemos"></ng-container>
            </ng-container>
            <ng-template #noActiveMemos>You don't have any active memos.</ng-template>
          </div>
          <div class="tab-pane" id="tabCompleted">
            <ng-container *ngIf="tasks && tasks.length; else: noInactiveMemos">
              <ng-container *ngTemplateOutlet="inactiveMemos"></ng-container>
            </ng-container>
            <ng-template #noInactiveMemos>You don't have any inactive memos.</ng-template>
          </div>
          <div class="tab-pane" id="tabMine">
            <ng-container *ngIf="memos && memos.length; else: noMine">
              <ng-container *ngTemplateOutlet="myMemosContent"></ng-container>
            </ng-container>
            <ng-template #noMine>You did not start any memos.</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #activeMemos>
  <ng-container>
    <div class="m-widget4 m-widget4--progress">
      <div class="m-widget4__item" *ngFor="let task of tasks">
        <div class="m-widget4__img m-widget4__img--pic">
          <i class="fa fa-lg fa-tasks m--font-accent" *ngIf="task.type == taskTypeEnum.Task"></i>
          <i class="fa fa-lg fa-check m--font-focus" *ngIf="task.type == taskTypeEnum.Approval"></i>
        </div>
        <div class="m-widget4__info user">
          <span class="m-widget4__title" tooltip="Memo owner" containerClass="m-tooltip">
            {{ task.memo?.user?.name }}
          </span>
        </div>

        <div class="m-widget4__info">
          <span class="m-widget4__title"  tooltip="Memo subject" containerClass="m-tooltip"> {{ task.memo?.title }} </span>
        </div>

        <div class="m-widget4__progress">
          <div class="">
            <span class="m-widget17__progress-number">{{ getProgress(task.memo) }}</span>
            <div class="progress m-progress--sm">
              <div
                class="progress-bar m--bg-info"
                role="progressbar"
                [style.width]="getProgress(task.memo)"
              ></div>
            </div>
          </div>
        </div>

        <div class="m-widget4__ext">
          <span class="m-widget4__title" tooltip="Date assigned" containerClass="m-tooltip">
            {{ task.dateOpened | date }}
          </span>
        </div>

        <div class="m-widget4__ext">
          <a
            class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary"
            (click)="onStepSelect(task)"
            >Details</a
          >
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #inactiveMemos>
  <ng-container>
    <div class="m-widget4 m-widget4--progress">
      <div class="m-widget4__item" *ngFor="let task of tasks">
        <div class="m-widget4__img m-widget4__img--pic">
          <i class="fa fa-lg fa-tasks m--font-accent" *ngIf="task.type == taskTypeEnum.Task"></i>
          <i class="fa fa-lg fa-check m--font-focus" *ngIf="task.type == taskTypeEnum.Approval"></i>
        </div>
        <div class="m-widget4__info user">
          <span class="m-widget4__title" tooltip="Memo owner" containerClass="m-tooltip">
            {{ task.memo?.user?.name }}
          </span>
        </div>

        <div class="m-widget4__info">
          <span class="m-widget4__title"  tooltip="Memo subject" containerClass="m-tooltip"> {{ task.memo?.title }} </span>
        </div>

        <div class="m-widget4__progress">
          <div class="">
            <span class="m-widget17__progress-number">{{ getProgress(task.memo) }}</span>
            <div class="progress m-progress--sm">
              <div
                class="progress-bar m--bg-info"
                role="progressbar"
                [style.width]="getProgress(task.memo)"
              ></div>
            </div>
          </div>
        </div>

        <div class="m-widget4__ext">
          <span class="m-widget4__title" tooltip="Date assigned" containerClass="m-tooltip">
            {{ task.dateOpened | date }}
          </span>
        </div>

        <div class="m-widget4__ext">
          <a
            class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary"
            (click)="onStepSelect(task)"
            >Details</a
          >
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #myMemosContent>
  <ng-container>
    <div class="m-widget4 m-widget4--progress">
      <div class="m-widget4__item" *ngFor="let memo of memos">
        <div class="m-widget4__img m-widget4__img--pic">
          <i class="fa fa-lg fa-th-list m--font-secondary"></i>
        </div>
        <div class="m-widget4__info user">
          <span class="m-widget4__title" tooltip="Memo owner" containerClass="m-tooltip">
            {{ memo?.user?.name }}
          </span>
        </div>

        <div class="m-widget4__info">
          <span class="m-widget4__title"  tooltip="Memo subject" containerClass="m-tooltip"> {{ memo?.title }} </span>
        </div>

        <div class="m-widget4__progress">
          <div class="">
            <span class="m-widget17__progress-number">{{ getProgress(memo) }}</span>
            <div class="progress m-progress--sm">
              <div class="progress-bar m--bg-info" role="progressbar" [style.width]="getProgress(memo)"></div>
            </div>
          </div>
        </div>

        <div class="m-widget4__ext">
          <span class="m-widget4__title" tooltip="Date started" containerClass="m-tooltip">
            {{ memo.dateOpened | date }}
          </span>
        </div>

        <div class="m-widget4__ext">
          <a
            class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary"
            (click)="onStepSelect(memo)"
            >Details</a
          >
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
