<p><strong>Process</strong> {{action?.template?.title}} ({{action?.process?.title}})</p>
<p><strong>Description</strong> {{action?.process?.description}}</p>
<p><strong>Date</strong> {{action?.process?.date_opened | date}}</p>
<p><strong>Requested by</strong> {{action?.process?.user?.name}}</p>
<!-- <p>{{action?.step?.description}}</p> -->

<div class="m-form" *ngIf="showForm && action.status != actionStatusEnum.assigned">
  <hr>
  <h3 class="m-form__heading-title"> Data Form</h3>

  <div class="section-container" *ngFor="let section of action?.step?.sections; let i = index">

    <div class="m-form__heading">
      <h3 class="m-form__heading-title">{{section.label}}</h3>
    </div>
    <div *ngFor="let field of section.fields; let j = index;" class="form-group m-form__group row">
      <label for="example-text-input" class="col-4 col-form-label">
        {{field.label}}
      </label>
      <div class="col-8">
        <input type="text" class="form-control m-input" readonly [value]="field.value">
      </div>
    </div>
  </div>
</div>

<hr>
<div class="m-section">
  <h3 class="m-form__heading-title">
    Steps
  </h3>
  <div class="m-section__content">
    <div class="m-demo">
      <div class="m-demo__preview">
        <div class="m-list-timeline">
          <div class="m-list-timeline__items">
            <div class="m-list-timeline__item" *ngFor="let step of action.template.steps">
              <span class="m-list-timeline__badge"></span>
              <span class="m-list-timeline__text">{{step.title}}
                <!-- <span class="m-badge m-badge--primary m-badge--wide">{{step.type == taskTypeEnum.Task ?
                  'Task' : 'Approval' }}</span> -->
                <span class="m-badge m-badge--warning m-badge--wide" *ngIf="step.id == action.step_id &&  action.status == actionStatusEnum.assigned">CurrentTask</span>
                <span class="m-badge m-badge--success m-badge--wide" *ngIf="getStepStatus(step.id) == actionStatusEnum.completed_or_approved">Completed</span>
                <span class="m-badge m-badge--danger m-badge--wide" *ngIf="getStepStatus(step.id) == actionStatusEnum.rejected">Rejected</span>
              </span>
              <span class="m-list-timeline__time">{{step?.user_name || ''}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
