/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

button{
  margin: 5px;
}

.right{
  text-align: right;
}


form input.ng-touched.ng-invalid,
form select.ng-touched.ng-invalid
{
  border: 1px solid red;
}
