/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

button {
  margin: 5px;
}

.right {
  text-align: right;
}

/* form input.ng-touched.ng-invalid,
form select.ng-touched.ng-invalid
{
  border: 1px solid red;
} */

form.invalidform input.ng-invalid,
form.invalidform select.ng-invalid,
form.invalidform .invaliditem {
  border: 1px solid #d43835 !important;
}

form.invalidform .invaliditemcolor {
  color: #d43835 !important;
}

invaliditemcolor .center {
  text-align: center;
}

input.inline {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.m-subheader {
  padding-bottom: 30px;
}

@media (min-width: 1025px) {
  .m-aside-left--enabled .m-body .m-wrapper {
    padding-left: 30px;
  }
}
.move {
  cursor: move;
}

/* FOR LOGIN */

html {
  font-family: sans-serif;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-weight: 300;
  font-family: Poppins;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html a:active,
html a:focus,
body a:active,
body a:focus {
  text-decoration: none !important;
}
html a,
html button,
body a,
body button {
  outline: none !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body.m--skin-light {
  color: #333333;
}
body.m--skin-dark {
  color: #efefef;
}
