.disabled {
  color: #999 !important;
  font-style: italic;
}

.right {
  text-align: right;
}

button {
  margin-right: 5px;
}
button.btn-lg {
  margin-top: 0;
}

.btn-success {
  margin: 0;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}
