<form [formGroup]="containerForm" #f="ngForm" (ngSubmit)="addTemplate(f)" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <input class="form-control input-lg" id="title" name="title" formControlName="title" placeholder="Template Title"
              required>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-success btn-lg btn-block">Create</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</form>

<div>
  <tabset>
    <tab heading="Tasks">
      <app-template-steps [users]="users" [templateContainer]="containerForm"></app-template-steps>
    </tab>
    <tab heading="Data Form">
      <app-template-form [templateContainer]="containerForm"></app-template-form>
    </tab>
  </tabset>
</div>



<pre>{{templateService.containerForm.value | json}}</pre>
