<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Template</h3>
      </div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="addTemplate(f)" class="form-inline">

          <div class="form-group">
            <label for="title">Title*</label>
            <input class="form-control" id="title" name="title" [(ngModel)]="this.template.title" placeholder="Title"
              required>
          </div>


          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description" [(ngModel)]="this.template.description"
              placeholder="Description">
          </div>

          <div *ngIf="showError" class="alert alert-danger" role="alert">
            <strong>Error!</strong> Unable to login. please try again.
          </div>
          <!-- [disabled]="f.invalid" -->
          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
            <!-- <button type="button" class="btn btn-default" (click)="onCancel(f)">Clear</button> -->
          </div>

        </form>
      </div>
    </div>


  </div>
</div>


<div>
  <tabset>
    <tab heading="Tasks">
      <app-template-steps #templateSteps [users]="users"></app-template-steps>
    </tab>
    <tab heading="Data Form">
      <app-template-form #templateForm></app-template-form>
    </tab>
  </tabset>
</div>
