<div *ngIf="action">
  <div class="row" *ngIf="action.status == actionStatusEnum.assigned">
    <div class="col-md-6">
      <app-action-manage-active
        [action]="action"
        [actionForm]="actionForm"
        [showForm]="showForm"
      ></app-action-manage-active>
    </div>
    <div class="col-md-6">
      <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul
              class="nav nav-tabs m-tabs-line m-tabs-line--info m-tabs-line--2x m-tabs-line--right"
              role="tablist"
            >
              <li class="nav-item m-tabs__item">
                <a
                  class="nav-link m-tabs__link  active show"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                >
                  Process Info
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a
                  class="nav-link m-tabs__link"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                >
                  History
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab1" role="tab1">
              <app-action-manage-info
                [action]="action"
                [showForm]="showForm"
              ></app-action-manage-info>
            </div>
            <div class="tab-pane " id="tab2" role="tab2">
              <app-action-manage-history
                [action]="action"
              ></app-action-manage-history>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="action.status != actionStatusEnum.assigned">
    <div class="col-md-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Process Info</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <app-action-manage-info
            [action]="action"
            [showForm]="showForm"
          ></app-action-manage-info>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">History</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <app-action-manage-history
            [action]="action"
          ></app-action-manage-history>
        </div>
      </div>
    </div>
  </div>
</div>
